@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 *{
  margin: 0px ;
  padding: 0px ;
  font-family: "Montserrat", sans-serif !important;
  scroll-behavior: smooth !important;
}
.h-100vh{
  height: 100vh;
}
.h-50vh{
  height: 60vh;
}
.p-2rem{
  padding: 2rem !important;
}
.mb-2rem{
  margin-bottom: 2rem;
}
.BorderRadius{
  border-radius: 2rem;
}
.bg-SkyBlue{
  background-color: rgb(226,233,241);
}
.btn-1{
  background-color: rgb(51,51,51) !important;
  color: white !important;
  border-color: black !important;
}
.btn-1:hover{
  border-color: rgb(51,51,51) !important;
  background-color: black !important;
}
